{% load static %}

<div id="history" class="isolate bg-cyan-200 dark:bg-cyan-950 transition-all duration-300">
    <div class="overflow-hidden">
        <div class="mx-auto max-w-7xl px-6 lg:flex lg:px-8">
            <div class="mt-32 sm:mt-40 mx-auto grid max-w-2xl grid-cols-1 gap-x-12 gap-y-16 lg:mx-0 lg:min-w-full lg:max-w-none lg:flex-none lg:gap-y-8">
                <div class="lg:col-end-1 lg:w-full lg:max-w-lg lg:pb-8">
                    <p class="text-base font-semibold leading-7 text-red-600">История</p>
                    <h2 class="text-3xl font-bold tracking-tight text-gray-700 dark:text-gray-300 sm:text-4xl">Красная
                        нить из&nbsp;Иерусалима</h2>
                    <p class="mt-6 text-xl leading-8 text-gray-900 dark:text-gray-300">О&nbsp;эта красная нить! Как
                        много вопросов она вызывает.</p>
                    <p class="mt-6 text-base leading-7 text-gray-700 dark:text-gray-400">Наверно каждый, хотя&nbsp;бы
                        раз в&nbsp;жизни обращал внимание на&nbsp;красную нить на&nbsp;запястьях людей.</p>
                </div>
                <div class="flex flex-wrap items-start justify-end gap-6 sm:gap-8 lg:contents">
                    <div class="w-0 flex-auto lg:ml-auto lg:w-auto lg:flex-none lg:self-end">
                        <img src="{% static 'img/nit-lenya.webp' %}"
                             alt="" class="aspect-[7/5] w-[37rem] max-w-none rounded-2xl bg-gray-50 object-cover">
                    </div>
                    <div class="contents lg:col-span-2 lg:col-end-2 lg:ml-auto lg:flex lg:w-[37rem] lg:items-start lg:justify-end lg:gap-x-8">
                        <div class="order-first flex w-64 flex-none justify-end self-end lg:w-auto">
                            <img src="{% static 'img/hall.webp' %}"
                                 alt=""
                                 class="aspect-[4/3] w-[24rem] max-w-none flex-none rounded-2xl bg-gray-50 object-cover">
                        </div>
                        <div class="flex w-96 flex-auto justify-end lg:w-auto lg:flex-none">
                            <img src="{% static 'img/nits.webp' %}"
                                 alt=""
                                 class="aspect-[7/5] w-[37rem] max-w-none flex-none rounded-2xl bg-gray-50 object-cover">
                        </div>
                        <div class="hidden sm:block sm:w-0 sm:flex-auto lg:w-auto lg:flex-none">
                            <img src="{% static 'img/hand.webp' %}"
                                 alt="" class="aspect-[4/3] w-[24rem] max-w-none rounded-2xl bg-gray-50 object-cover">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="px-6 pt-12 lg:pt-20 pb-24 lg:px-8">
        <div class="mx-auto max-w-3xl text-base leading-7 text-gray-700 dark:text-gray-400 space-y-6">
            <p>Славянская традиция хранит свои секреты ношения оберега из&nbsp;красной нити на&nbsp;запястье. Были они
                на&nbsp;Руси и&nbsp;в&nbsp;дохристианские времена. Считалось, что нити красного цвета способны защитить
                носящего их&nbsp;человека от&nbsp;&laquo;дурного глаза&raquo;, болезни и&nbsp;несчастного случая. Даже в&nbsp;традиционных
                вышивках на&nbsp;рушниках и&nbsp;рубахах использовались в&nbsp;основном нитки красного цвета.</p>
            <p>Слово Сай-Син с&nbsp;тайского переводится как &laquo;святая нить&raquo;. Сай-син используют в&nbsp;качестве
                амулета&nbsp;&mdash; защита от&nbsp;сглаза и&nbsp;злых духов. Повязать её&nbsp;должен только тот
                человек, который искренне желает вам удачи и&nbsp;счастья. В&nbsp;Таиланде это делают монахи.</p>
            <p>Красная нить из&nbsp;Иерусалима имеет практически тот&nbsp;же самый смысл ношения для защиты от&nbsp;негатива
                и&nbsp;привлечения успеха, только ее&nbsp;история происхождения уходит в&nbsp;библейские времена, когда
                религий как таковых не&nbsp;существовало. Поэтому не&nbsp;верно считать нить атрибутом какой либо
                религии.</p>
            <p>История берет свое начало от&nbsp;женщины по&nbsp;имени Рахель, жены Яакова, которых мы&nbsp;все знаем из&nbsp;&laquo;Ветхого
                завета&raquo; (Тора, Библия). Считается, что эту реальную женщину отличало стремление защищать всех
                окружающих от&nbsp;греха внешнего и&nbsp;внутреннего. Позавидовали богатому, согрешили, обиделись,
                злитесь, недовольны своей долей, сравнивая ее&nbsp;с&nbsp;чужой, значит совершаете дурной поступок.
                Рахиль пыталась защитить своих детей от&nbsp;всего этого, разъедающего души негатива. </p>
            <p>Существует легенда, что когда Рахель умерла, ее&nbsp;могилу обернули красной шерстяной нитью, наполнив ее&nbsp;сильнейшей
                энергией защиты и&nbsp;любви, которой исходит от&nbsp;этого места, после нить разрезали на&nbsp;кусочки
                и&nbsp;раздали больным и&nbsp;бедным, мужчинам и&nbsp;женщинам, чтоб они повязали ее&nbsp;своим детям,
                родным и&nbsp;близким для защиты и&nbsp;удачи. </p>
            <p>Политики, звезды, спортсмены разных стран, национальностей и&nbsp;религий носят красную нить на&nbsp;запястье
                и&nbsp;повязывают их&nbsp;своим детям с&nbsp;рождения.</p>
            <p>Сегодня в&nbsp;99% случаях, это красные нити из&nbsp;Иерусалима. Стоить заметить, что далеко ни&nbsp;каждая
                нить привезенная из&nbsp;Иерусалима настоящая. Мало кто знает, что нити купленные на&nbsp;торговых рядах
                старого города, а&nbsp;так&nbsp;же завязанные старцем возле стены плача за&nbsp;пожертвование, скорее
                всего просто кусочки красной ниточки, часто даже не&nbsp;шерстяной, которые прекрасно послужат туристу
                сувениром на&nbsp;память и&nbsp;только.</p>
            <p class="font-medium">В&nbsp;виду возросшего интереса к&nbsp;красной нити и&nbsp;огромного количества
                сомнительных предложений
                в&nbsp;интернете, мы&nbsp;задались определенной целью, ездить каждый год в&nbsp;Израиль и&nbsp;освящать
                нити самостоятельно, в&nbsp;своем присутствии, дабы в&nbsp;дальнейшем с&nbsp;уверенностью гарантировать
                их&nbsp;подлинность.
            <h3 class="pt-10 text-2xl font-bold tracking-tight text-gray-700 dark:text-gray-300 sm:text-3xl">Поверье у&nbsp;цыган</h3>
            <p>У&nbsp;цыганского населения имеется своя божественность&nbsp;&mdash; Святая Сара, которая в&nbsp;свое
                время получила от&nbsp;Высших сил в&nbsp;награду ясновидение.</p>
            <p>Когда впервые в&nbsp;цыганском таборе осуществлялся выбор барона, Сара повязала красной нитью запястья
                тем людям, которые претендовали на&nbsp;это место. Веревки она выдергивала из&nbsp;своей шикарной
                шалевой накидки.</p>
            <p>Как только цыганский народ избрал бароном цыгана Иосифа, шерстяной оберег озарился ослепляющим солнечным
                светом. Отсюда у&nbsp;цыган пошло поверье, что красным знаком отмечался важный человек
                в&nbsp;таборе.</p>
            <h3 class="pt-10 text-2xl font-bold tracking-tight text-gray-700 dark:text-gray-300 sm:text-3xl">Поверье у&nbsp;немцев</h3>
            <p>У&nbsp;немецкого народа существует легенда о&nbsp;богине Невехэге. В&nbsp;далекие времена немецкие
                территории страдали от&nbsp;нашествия чумы. Эта страшная болезнь уносила множество людских жизней.</p>
            <p>В&nbsp;этот период появилась прекрасная девушка Невехэге, которая не&nbsp;боялась ничего, ходила и&nbsp;посещала
                больных. Всем людям на&nbsp;запястье она вязала красную шерстяную нить, и&nbsp;вскорости люди
                излечивались. Саму девушку оберегали Высшие силы, поэтому чумой она не&nbsp;заразилась.</p>
        </div>
    </div>
</div>