<div class="overflow-hidden bg-gray-100 dark:bg-gray-900 transition-all duration-300 py-24 sm:py-32">
    <div class="mx-auto max-w-7xl md:px-6 lg:px-8">
        <div class="grid grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:grid-cols-2 lg:items-start">
            <div class="px-6 md:px-0 lg:pr-4 lg:pt-4">
                <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-lg">
                    <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-700 dark:text-gray-300 sm:text-4xl">
                        Инструкция</h2>
                    <div class="mt-10 max-w-xl text-base leading-7 text-gray-700 dark:text-gray-400 lg:max-w-none space-y-8">
                        <p>Повязать нить должен близкий человек, тот в&nbsp;искренности которого вы&nbsp;уверены (мама,
                            папа, брат, ребёнок, супруг(а), друг, любимый...) на&nbsp;левую руку, туго, но&nbsp;не&nbsp;сдавливать.
                            Семью обычными крепкими узлами подряд. При этом рекомендуется семь раз прочитать молитву
                            &laquo;бен порат&raquo;. Читает тот, кто завязывает, до, после или во&nbsp;время
                            повязывания.</p>
                        <p>Тот, кому повязывают нить в&nbsp;это время должен направить свои мысли к&nbsp;добру и&nbsp;к&nbsp;тому,
                            что радует душу и&nbsp;сердце, чаще всего, это его сокровенные желания.</p>
                        <p>Многие загадывают желания и&nbsp;ставят себе цели. В&nbsp;таком случае каждый раз, когда ваш
                            взгляд падёт на&nbsp;нить на&nbsp;вашем запястье, вспоминайте о&nbsp;своём желании и&nbsp;о&nbsp;том,
                            куда вы&nbsp;стремитесь и&nbsp;кем желаете быть.</p>
                        <p>Нить носят всегда. Купаются, спят&nbsp;&mdash; не&nbsp;снимают. Если нужно снять, ничего
                            страшного. Можно снять, но&nbsp;обратно эту нить повязывать не&nbsp;желательно, лучше взять
                            новую. Оставшиеся хвостики по&nbsp;желанию можно отрезать и&nbsp;сжечь. Если в&nbsp;дальнейшем
                            последние узлы будут развязываться, подтяните их&nbsp;или вовсе не&nbsp;трогайте. Ничего
                            страшного в&nbsp;этом нет, главное, что изначально завязали правильно&nbsp;&mdash; с&nbsp;душой
                            и&nbsp;верой.</p>
                        <p>Когда нить порвалась, её&nbsp;можно сжечь, выкинуть, оставить, потерять... Нить своё
                            отработала. Она взяла на&nbsp;себя удар или уже накопила предельное количество негатива
                            предназначенного для вас.</p>
                        <p>Если хотите подарить кому то&nbsp;красную нить, отлично, будьте уверены, оригинальность
                            подарка оценят! Подарок очень таинственный, имеет смысл и&nbsp;силу. Более того, этот
                            подарок будет всегда с&nbsp;тем человеком кому дарите, не&nbsp;заваляется в&nbsp;полке.</p>
                        <p>Единственное условие: тот человек кому дарят нить, должен заплатить любую сумму, хоть в&nbsp;одну
                            копейку, это своего рода энергетический обмен. С&nbsp;членов своей семьи (муж, жена, дети,
                            родители) ничего брать не&nbsp;нужно.</p>
                        <p>Нити красиво упакованы, в&nbsp;каждой есть инструкция и&nbsp;молитва &laquo;бен порат&raquo;
                            на&nbsp;русском, на&nbsp;иврите и&nbsp;на&nbsp;иврите русскими буквами. Если кто то&nbsp;хочет
                            читать другую молитву, например &laquo;Отче наш&raquo;, может читать&nbsp;её. Ношение этого
                            оберега не&nbsp;имеет отношения ни&nbsp;к&nbsp;религии ни&nbsp;к&nbsp;национальности
                            человека и&nbsp;работает для всех одинаково, кто&nbsp;бы вам что ни&nbsp;говорил. </p>
                        <p>Красная нить ни&nbsp;в&nbsp;коем случае не&nbsp;должна подменять веру в&nbsp;Б-га, не&nbsp;заменит
                            молитву, но&nbsp;настоящая, освященная нить, является действительно сильным оберегом!</p>
                    </div>

                </div>
            </div>
            <div class="sm:px-6 lg:px-0">
                <style>.embed-container {
                    position: relative;
                    padding-bottom: 56.25%;
                    height: 0;
                    overflow: hidden;
                    max-width: 100%;
                }

                .embed-container iframe, .embed-container object, .embed-container embed {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }</style>
                <div class="embed-container">
                    <iframe src="https://www.youtube.com/embed/VKD_0eBIXlM"
                            srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/VKD_0eBIXlM?autoplay=1><img src=https://img.youtube.com/vi/VKD_0eBIXlM/maxresdefault.jpg><span>▶</span></a>"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>